<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enoti.enotiquiz">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/enoti_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/enoti_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuizActivity">
            <intent-filter>
                <action android:name="com.enoti.enotiquiz.QuizActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectQuizActivity">
            <intent-filter>
                <action android:name="com.enoti.enotiquiz.SelectQuizActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ModeSelectActivity">
            <intent-filter>
                <action android:name="com.enoti.enotiquiz.ModeSelectActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PicActivity">
            <intent-filter>
                <action android:name="com.enoti.enotiquiz.PicActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".QuizResultActivity">
            <intent-filter>
                <action android:name="com.enoti.enotiquiz.QuizResultActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TrFlsActivity">
            <intent-filter>
                <action android:name="com.enoti.enotiquiz.TrFlsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".HistoryActivity">
            <intent-filter>
                <action android:name="com.enoti.enotiquiz.HistoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LogoActivity">
            <intent-filter>
                <action android:name="com.enoti.enotiquiz.LogoActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>