#gameField {
	position: fixed;
	width: 750px;
	height: 950px;
	padding: 0px;
	background: Url("../src/gameFieldEmpty.png");
	user-select: none;
}

#playBtn3 {
	position: absolute;
	width: 170px;
	height: 50px;
	left: 290px;
	top: 400px;
	background-color: yellow;
	font-size: 20px;
}

#playBtn5 {
	position: absolute;
	width: 170px;
	height: 50px;
	left: 290px;
	top: 460px;
	background-color: yellow;
	font-size: 20px;
}

#charBtn {
	position: absolute;
	width: 170px;
	height: 50px;
	left: 290px;
	top: 520px;
	background-color: yellow;
	font-size: 20px;
}

#abilityBtn {
	position: absolute;
	width: 170px;
	height: 50px;
	left: 290px;
	top: 580px;
	background-color: yellow;
	font-size: 20px;
}

#recordsBtn {
	position: absolute;
	width: 170px;
	height: 50px;
	left: 290px;
	top: 640px;
	background-color: yellow;
	font-size: 20px;
}