#gameField {
	position: fixed;
	width: 750px;
	height: 950px;
	padding: 0px;
	background: Url('../src/gameField.png');
	user-select: none;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
	z-index: 100;
}

#fire {
	position: absolute;
	width: 140px;
	height: 140px;
	z-index: 10;
}

#MenuBtn {
	position: absolute;
	width: 75px;
	height: 40px;
	left: 650px;
	top: 30px;
	background-color: yellow;

}

#MenuHref {
	position: fixed;
	width: 75px;
	height: 40px;
	left: 650px;
	top: 30px;
}

.card {
	position: absolute;
	width: 0px;
	height: 0px;
	margin: 3px;
	background-color: black;
	visibility: visible;
	
	user-select: none;
}

.cardImg {
	position: absolute;
	width: 140px;
	height: 140px;
	z-index: 0;
	user-select: none;
	
	transform-origin: center center;
	
	transition-property: transform;
	transition-duration: .5s;
	transition-timing-function: linear;
}

#scoreTable {
	position: absolute;
	width: 200px;
	height: 50px;
	left: 530px;
	top: 70px;
}

#score {
	font-size: 25px;
	text-align: right;
	color: white;
}

#record {
	position: relative;
	top: -20px;
	font-size: 25px;
	text-align: right;
	color: white;
}

#healthBox {
	position: absolute;
	width: 50px;
	height: 17px;
	left: 85px;
	top: -15px;
}

#healthsText {
	font-size: 20px;
	color: #ff4444;
	font-weight: bold;
	text-shadow: 0, 0, 10px, black;
	text-align: right;
}

#name {
	position: absolute;
	width: 140px;
	height: 20px;
	top: 100px;
	text-align: center;
}

#charName {
	position: absolute;
	width: 140px;
	height: 20px;
	top: 100px;
	text-align: center;

	color: #FF4500;
}

#attackBox {
	position: absolute;
	width: 50px;
	height: 17px;
	left: 15px;
	top: -15px;
}

#attackText {
	font-size: 20px;
	color: grey;
	font-weight: bold;
	text-shadow: 0, 0, 10px, black;
}

#MoneyBox {
	position: absolute;
	width: 50px;
	height: 17px;
	left: 80px;
	top: -15px;
}

#MoneyText {
	font-size: 20px;
	color: orange;
	font-weight: bold;
	text-shadow: 0, 0, 10px, black;
	text-align: right;
}

#AbilityBox {
	position: fixed;
	width: 100px;
	height: 17px;
	left: 15px;
	top: 70px;
}

#gameOverTextBox {
	position: fixed;
	left: 298px;
	top: 60px;
	text-align: center;
}

#gameOver {
	font-size: 30px;
	color: white;
	margin-bottom: -2px;
}

#gameOverNickName {
	margin: 5px;
}

#gameOverSaveBtn {
	background-color: yellow;
	margin: 5px;
}

#gameOverReloadBtn {
	background-color: yellow;
	margin: 5px;
}

#Inventory {
	position: fixed;
	width: 250px;
	height: 50px;
	left: 260px;
	top: 150px;
	display: flex;
	flex-direction: row;
}